<div id="container">
  <div id="left">
    <div class="OrderHeaderBack" (click)="backClicked()">Back</div>
  </div>
  <div id="center">
    <div class="OrderHeader">View Customer Details</div>
  </div>
  <div id="right"></div>
</div>

<br>

<div>
  <table class="customerLists">
    <thead class="tableHead">
      <tr>
        <th>Customer</th>
        <th>Order Date</th>
        <th>Order Detail</th>
        <th>Order Amount</th>
      </tr>
    </thead>
    <tbody>
      {{waitMsg}}
      <tr *ngFor="let cl of customerLists">
        <!-- <td class="customerText">{{cl.orderID}}</td> -->
        <td class="customerText">{{cl.customer.customerName}}</td>
        <td class="customerText">{{cl.orderDetail}}</td>
        <td class="customerText">{{cl.orderDate}}</td>
        <td class="customerText">{{cl.orderAmount}}</td>
      </tr>
    </tbody>
  </table>
</div>
